
.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5); // fondo semitransparente
    color: white;
    font-size: 18px;
    text-align: center;
  }
  
  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #fff;
    border-top: 6px solid #00c3ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.resultado-transaccion {
  margin-top: 20px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;

  h3 {
    margin-bottom: 10px;
    color: #0077cc;
  }

  p {
    margin: 4px 0;
  }
}
